body {
  text-align: center;
  font-family: Helvetica;
}

.banner {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

nav {
  font-size: 18px;
}

h3 {
  font-size: 32px;
}

h1,
h3,
h4 {
  font-weight: bold;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.banner,
.btn-nav,
footer {
  color: white;
}

footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
